
@font-face {
    font-family: PTSans-Regular;
    src: url("../assets/fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
    font-family: PTSans-Bold;
    src: url("../assets/fonts/PT_Sans-Web-Bold.ttf")
}

html {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    font-family: PTSans-Regular;
    width: 100%;
    margin: 0;
    padding: 0;
}

.tasks-nav {
    margin-top: 30px;
    border-bottom: 1px solid #cccccc;
}

.task-topic {
    margin-top: 30px;
    margin-left: 40px;
    font-weight: normal;
}

.table {
    margin-left: 30px;
    width:95%;
}

.table th, tr{
    border-top: 0;
    font-size: 12px;
    font-weight: normal;

}

.table th {
    padding-left: 0;
    padding-right: 100px;
    color: rgba(0, 0, 0, 0.5);
}

.table-body td {
    padding-left: 0;
}

.icon-help {
    margin-right: 20px;
}

.cash {
    font-family: PTSans-Bold;
    color: #ffffff;
    margin-left: 10px;
}

.task {
    font-size: 16px;
}