.badge {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-left: 10px;
    color: #999999;
}

.navbar {
    padding-left: 30px;
    background-color: #222222!important;
}

.navbar-brand {
    font-size: 1.4em;
    color: #ffffff!important;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: #777777!important;
}
