.badge {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin-left: 10px;
    color: #999999;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 10px;
}

.navbar {
    padding-left: 30px;
    background-color: #222222!important;
}

.navbar-brand {
    font-size: 1.4em;
    color: #ffffff!important;
    font-family: PTSans-Bold;
}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    color: #777777!important;
}

.user {
    font-family: PTSans-Bold;
    color: #ffffff!important;
}

.dropdown a {
    text-decoration: none;
    color: #222222;
}

.new {
    background-color: #ff6633;
    color: #ffffff;
    border: 0;
}

.active {
    border-bottom: 1px solid #ff6633;
}

.active-head {
    color: #ffffff!important;
}
