
.search-bar {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 60%;
}

.search {
    font-size: 14px;
    padding-left: 10px;
    width: 20%;
    opacity: 0.5;
    height: 30px;
}

.search:hover {
    opacity: 1;
}

.search:focus {
    opacity: 1;
}

.filter-board {
    margin-right: 40px;
}

.filter {
    margin-bottom: 0;
    color: rgba(0,0,0,0.5);
    font-size: 0.9em;
}

.filter:hover {
    color: #222222;
}

.filter input {
    margin-left: 40px;
    margin-right: 5px;
}

.active-filter{
    color: #222222!important;
}

@media screen and (max-width: 1024px){
    .search-bar {
        flex-direction: column;
    }
    .filter-board {
        display: flex;
        flex-direction: column;
    }
    .search {
        height: 30px;
        font-size: 10px;
        width: 50%;
        margin-left: 40px;
    }
    .dropdown {
        margin-left: 40px;
    }
}

